@font-face {
    font-family: "Avenir";
    src: url(../fonts/Avenir.ttc);
    src: url(../fonts/Avenir.ttf);
    src: url(../fonts/Avenir.eot);
}

    @font-face {
    font-family: "Alamain";
    src: url('../fonts/alamain-webfont.eot');
    src: url('../fonts/alamain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alamain-webfont.ttf') format ('truetype'),
         url('../fonts/alamain-webfont.svg') format ('svg'),
         url('../fonts/alamain-webfont.woff') format ('woff');
         font-weight: normal;
         font-style: normal; 
}


    @font-face {
    font-family: "Savoye";
    src: url('../fonts/SavoyeLetPlain.eot');
    src: url('../fonts/SavoyeLetPlain.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SavoyeLetPlain.ttf') format ('truetype'),
         url('../fonts/SavoyeLetPlain.svg') format ('svg'),
         url('../fonts/SavoyeLetPlain.woff') format ('woff');
         font-weight: normal;
         font-style: normal;     


}

/*///////// GLOBAL ///////*/


html body {
  background-color: white;
}

body {
  margin: 0;
  display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#gallery img{
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1181px;

}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.right {
  text-align: right;
}


.col_1_3 {
  width: 33.33%;
  padding-left: 10px;
  padding-right: 10px;
}

div {
  display: block;
}

[class*="col_"] {
    float: left;
    /*padding-left: 10px; */
    /*padding-right: 10px; */
}

/*///////// NAV BAR ///////*/


html #nav_bar {
-moz-box-shadow: 0px 1px 1px #ccc;
-webkit-box-shadow: 0px 1px 1px #ccc;
box-shadow-bottom: 3px #ccc;
}

section#nav_bar {
  margin: 13px 0;
  margin-bottom: 40px;
  height: 42px;

}

section#nav_bar ul.nav {
  color: #777;
  padding: 6px 0 0 0;
  list-style: none;
  margin: 0 auto;
}

section#nav_bar ul.nav li {
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 49%;
  text-align: center;
}

section#nav_bar ul.nav li a {
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 2px;
  color: #777;
}

section#nav_bar ul.nav li a:hover {
  text-decoration: none;
  color: #58b0c0;
}

section#nav_bar ul.nav li a:active {
  color: black;
  font-weight: bold;

}

html a {
  color: #444;
  text-decoration: none;
  cursor: hand;
}

section#nav_bar #logo {
  background-color: transparent;
  width: 473px;
  height: 61px;
  background: url(../images/LOGO.png) no-repeat;
  overflow: hidden;
  margin: 0;
  padding-left: 10px;
}

#logo img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


section#nav_bar #logo h1 {
  visibility: hidden;
}

section#nav_bar ul.nav:after {
    content: "";
    display: table;
    clear: both;
}





/*///////// INTRO ///////*/



section#intro {
  padding: 5px 0 50px 0;
  color: #777;
  font-size: 17px;
  margin-top: 0px; 

}

section#intro {
  padding: 25px 0px;
}

section#intro p {
  font-family: "Alamain", "Savoye", cursive;
  display: inline-block;
   animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.center {
  text-align: center;
}


p {
  display: block;
}
/*//// GLOBAL COL. STRUCTURE /////*/

.col_2_1 {
  width: 59%;
  margin-left: 33px;
  padding-bottom: 39px;
}

.col_2_1 img{
  margin-bottom: 16px;
}

.col_2_2 {
  margin-left: 22px;
  width: 32%;
  float: left;
}

.col_2_2 img {
  margin-bottom: 16px;
}

.col_2_3 {
  width: 33.33%;
  padding-top: 39px;
  float: left;
}

.col_2_2 a:hover {
  opacity: 0.5; 
  filter: alpha(opacity=50);
  cursor: hand;
}

section#gallery {
  height: 1000px;
  margin: 0 auto;
}

.col_2_4 {
  width: 158%;
}  

/*///////// FOOTER ///////*/

#footer div {
  clear: both;
  width: 100%;
  background-color: #fcf9f9;
  margin-top: 50px;
  height: 50px;
  position: relative;
  -webkit-box-shadow: inset 0 20px 20px -20px #ccc);
    -moz-box-shadow: inset 0 20px 20px -20px #ccc;
    box-shadow: inset 0 10px 10px -10px #ccc;
}

#footer p {
  color: #777;
  padding-left: 68px;
  font-family: "Avenir", sans-serif;
  font-size: 11px;
  position: absolute;
  padding-top: 10px;
}

.ceb {
  float: right;
  margin-top: 20px;
  margin-right: 68px;
  display: inline-block;
}

/*///////// SPACE STRIPS ///////*/

#strip {
  clear: both;
  width: 100%;
  height: 150px;
}

#stripsmall {
  clear: both;
  width: 100%;
  height: 75px;
}

.col_3_1 {
  width: 50%;
  padding-left: 68px;
  padding-top: 20px;
}

.col_3_1 img {
  width: 100%;
}

.col_3_2 {
  width: 50%;
  padding-right: 60px;
  padding-left: 44px;
}

.col_3_2 p {
  font-family: "Avenir", sans-serif;
  padding-right: 60px;
  line-height: 2.0;
  color: #777;
}

.L {
  font-family: "Alamain", "Savoye", cursive;
}

section#about {
  padding-top: 35px;
}

/*///////// SHOP ///////*/


#shopping p {
  font-family: "Alamain", "Savoye", cursive;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-align: center;

}

#shopping img {
  padding-top: 25px;

}

#shopping .price {
  font-family: "Avenir";
}

#shopping a:hover {
  opacity: 0.5; 
  filter: alpha(opacity=50);
  cursor: hand;
}

div.product_title {
  margin-top: 20px;
  font-family: "Alamain", "Savoye", cursive;
}

div.dropdown {
  font-family: "Avenir";
  border: 1px solid #ccc;
  padding: 8px;
  width: 100px;
  float: left;
  margin-right: 40px;
}

div.addto {
  font-family: "Avenir";
  border: 1px solid #ccc;
  padding: 8px;
  padding-right: 20px; 
  padding-left: 20px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  margin-left: 5px;

}

div.addto:hover {
  font-family: "Avenir";
  background-color: #58b0c0;
  color: white;
  padding: 8px;
  padding-right: 20px; 
  padding-left: 20px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  margin-left: 5px;
}

.fa-angle-double-down {
  padding-left: 20px;
}

.fa-shopping-cart {
  padding-right: 10px;

}

.bold {
  font-weight: bold;
}

div.contact_text {
  padding-top: 184px;
}

.fa-facebook-square {
  padding-left: 10px;
}


* {
  font-family: "Avenir", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mid-animate {
  opacity: 0;
}

.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530;
}

.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530;
}

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #F9A530;
}

.menui {
  background: #58b0c0;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
  margin-top: 10px;
  position: absolute;
}

.icon {
  z-index: 999;
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 4px;
  right: 54px;
}

.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #58b0c0;
}

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

.mobilenav li a {
  font-size: 115%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}

.mobilenav li:first-child {
  margin-top: 60px;
}




/*/////// MEDIA QUERIES ///////*/

@media only screen and (min-width: 1114px) {



section#shopsingle {
  width: 1115px;
  margin: 0 auto;
}

section#contact {
  width: 1115px;
  margin: 0 auto;
}

section#about {
  width: 1115px;
  margin: 0 auto;
}

section#gallery {
  width: 1115px;
  margin: 0 auto;
}
.container {
  width: 1115px;
  margin: 0 auto;
}

.col_3_2 {
  width: 50%;
}

.col_3_1 {
  width: 48%;
}
}

@media only screen and (max-width: 1080px) {

section#nav_bar ul.nav li {
  width: 41%;
}

}

@media only screen and (max-width: 1045px) {

section#nav_bar ul.nav li {
  width: 40%;
}

.col_1_3 {
  padding-left: 0;
  padding-right: 0;
}


}

@media only screen and (min-width: 995px) {

.mobilenav {
  display: block;
  visibility: hidden;
}

.hamburger {
  display: block;
  visibility: hidden;
}

}

@media only screen and (max-width: 888px) {

  .col_3_2 {
    width: 104%;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 20px;
  }

  .col_3_1 {
    padding-top: 0;
    width: 66%;
  }

  #stripsmall {
    height: 36px;
  }

  .col_3_1 img {
    width: 147%;
  }

  div.contact_text {
    padding-top: 46px;
  }

  div.contact_text p {
    font-size: 18px;
  }

  div.social_icons {
    text-align: center;
  }
}

@media only screen and (max-width: 850px) {

  #shopping img {
    width: 344px;
  }
}

@media only screen and (max-width: 722px) {

  #shopping img {
    width: 290px;
  }
}

@media only screen and (max-width: 650px) {


  section#intro p {
    font-size: 14px;
  }

  #shopping img {
    width: 265px;
  }
}

@media only screen and (max-width: 595px) {


  section#intro p {
    font-size: 14px;
  }

  #shopping img {
    width: 244px;
  }
}

@media only screen and (max-width: 535px) {


  section#intro p {
    font-size: 12px;
  }

  #shopping img {
    width: 225px;
  }
}


@media only screen and (max-width: 495px) {


  section#intro p {
    font-size: 12px;
  }

  #shopping img {
    width: 205px;
  }

  #shopping p {
    font-size: 12px;
  }

  .col_3_2 {
    width: 113%;
    padding-left: 44px;
  }

  .col_3_1 {
    padding-left: 44px;
    width: 66%;
  }
}

@media only screen and (max-width: 445px) {


  section#intro p {
    font-size: 12px;
  }

  #shopping img {
    width: 185px;
  }

  #shopping p {
    font-size: 12px;
  }
}



@media only screen and (min-width: 320px) and (max-width: 995px) {
  .nav {
    visibility: hidden;
  }

  #logo {
    position: absolute;
    left: -75px;
  }

  section#nav_bar #logo {
    
  }

  section#nav_bar {
    height: 42px;
  }

  #shopping .col_1_3 {
    width: 50%;
  }

 
}



/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) { 


.mobilenav li {
  padding: 55px;
}


.mobilenav li a {
  font-size: 350%;
}

.L {
  font-size: 20px;
}

.col_3_1 {
  width: 85%;
  margin-left: 30px;
}

div.contact_text {
  padding-top: 40px;
}

.col_3_2 {
  width: 100%;
  padding-left: 88px;
  padding-right: 40px;
  margin-top: 25px;
}

#section .col_3_2 p {
  font-size: 16px;
}


.col_3_2 p {
  font-size: 16px;
}

.fa-2x {
  font-size: 5em;
}

section#intro p {
  font-size: 30px;
}

#shopping p {
  font-size: 21px;
}

.top-menu {
  top: 2px;
  width: 54px;
  height: 7px;
  border-radius: 10px;
}

.mid-menu {
  top: 21px;
  width: 54px;
  height: 7px;
  border-radius: 10px;
  
}

.bottom-menu {
  top: 40px;
  width: 54px;
  height: 7px;
  border-radius: 10px;
}

#stripsmall {
  height: 55px;
}

section#nav_bar #logo {
    background-size: 687px;
  }

  #logo {
    position: absolute;
    left: -162px;
  }

 section#nav_bar {
    height: 61px;
  } 

  div.contact_text p {
    font-size: 36px;
  }

  #shopping .col_1_3 {
    width: 50%;
  }

  #shopping img {
    width: 437px;
  }

  #shopping p {
    font-size: 32px;
  }

  div.product_title {
    margin-top: 50px;
  }

  div.dropdown {
    font-size: 40px;
    padding: 20px;
    width: 258px;
    border: 3px solid #ccc;
  }

  div.addto {
    font-size: 40px;
    padding: 20px;
    width: 403px;
    border: 3px solid #ccc;
  }

  div.addto:hover {
  font-family: "Avenir";
  background-color: #58b0c0;
  color: white;
  padding: 20px;
  width: 403px;

}


.fa-facebook-square {
  padding-left: 45px;
}

}

