@font-face {
    font-family: "Avenir";
    src: url(../fonts/Avenir.ttc);
}

    @font-face {
    font-family: "Alamain";
    src: url(../fonts/alamain1 copy2.ttc);
}

/*///////// GLOBAL ///////*/


html body {
  background-color: white;
}

body {
  margin: 0;
  display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container {
  margin: 0 auto;
  max-width: 1181px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.right {
  text-align: right;
}

.col_1_3 {
  width: 33.33%;
  padding-left: 10px;
  padding-right: 10px;
}

div {
  display: block;
}

[class*="col_"] {
    float: left;
    /*padding-left: 10px; */
    /*padding-right: 10px; */
}

/*///////// NAV BAR ///////*/


html #nav_bar {
-moz-box-shadow: 0px 1px 1px #ccc;
-webkit-box-shadow: 0px 1px 1px #ccc;
box-shadow-bottom: 3px #ccc;
}

section#nav_bar {
  margin: 13px 0;
  margin-bottom: 40px;
  height: 42px;

}

section#nav_bar ul.nav {
  color: #777;
  padding: 6px 0 0 0;
  list-style: none;
  margin: 0 auto;
}

section#nav_bar ul.nav li {
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 49%;
  text-align: center;
}

section#nav_bar ul.nav li a {
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 2px;
  color: #777;
}

section#nav_bar ul.nav li a:hover {
  text-decoration: none;
  color: #58b0c0;
}

section#nav_bar ul.nav li a:active {
  color: black;
  font-weight: bold;

}

html a {
  color: #444;
  text-decoration: none;
  cursor: hand;
}

section#nav_bar #logo {
  background-color: transparent;
  width: 473px;
  height: 61px;
  background: url(../images/LOGO.png) no-repeat;
  overflow: hidden;
  margin: 0;
  padding-left: 10px;
}

section#nav_bar #logo h1 {
  visibility: hidden;
}

section#nav_bar ul.nav:after {
    content: "";
    display: table;
    clear: both;
}

/*///////// INTRO ///////*/



section#intro {
  padding: 5px 0 50px 0;
  color: #777;
  font-size: 17px;
  margin-top: 0px; 

}

section#intro {
  padding: 25px 0em;
}

section#intro p {
  font-family: "Alamain";
  display: inline-block;
   animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.center {
  text-align: center;
}


p {
  display: block;
}


.col_2_1 {
  width: 66.66%;
  padding-left: 55px;
  padding-bottom: 39px;
  
}

.col_2_2 {
  width: 33.33%;
  float: left;
}

.col_2_3 {
  width: 33.33%;
  padding-top: 39px;
  float: left;
}

.col_2_3 a:hover {
  opacity: 0.5; 
  filter: alpha(opacity=50);
  cursor: hand;
}

section#gallery {
  padding-top: 35px;
  height: 1000px;
}

/*///////// FOOTER ///////*/

#footer div {
  clear: both;
  width: 100%;
  display: block;
  background-color: #fcf9f9;
  margin-top: 50px;
  height: 50px;
  position: relative;
  -webkit-box-shadow: inset 0 20px 20px -20px #ccc);
    -moz-box-shadow: inset 0 20px 20px -20px #ccc;
    box-shadow: inset 0 10px 10px -10px #ccc;
}

#footer p {
  color: #777;
  padding-left: 68px;
  font-family: "Avenir", sans-serif;
  font-size: 11px;
  position: absolute;
  padding-top: 10px;
}

/*///////// SPACE STRIPS ///////*/

#strip {
  clear: both;
  width: 100%;
  height: 150px;
}

#stripsmall {
  clear: both;
  width: 100%;
  height: 75px;
}

.col_3_1 {
  width: 60%;
  padding-left: 68px;
  padding-top: 20px;
}

.col_3_2 {
  width: 40%;
  padding-right: 60px;
}

.col_3_2 p {
  font-family: "Avenir", sans-serif;
  padding-right: 60px;
  line-height: 2.0;
  color: #777;
}

.L {
  font-family: "Alamain";
}

section#about {
  padding-top: 35px;
}

/*///////// SHOP ///////*/


#shopping p {
  font-family: "Alamain", sans-serif;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-align: center;

}

#shopping img {
  padding-top: 25px;

}

#shopping .price {
  font-family: "Avenir";
}

#shopping a:hover {
  opacity: 0.5; 
  filter: alpha(opacity=50);
  cursor: hand;
}

div.product_title {
  margin-top: 20px;
  font-family: "Alamain";
}

div.dropdown {
  font-family: "Avenir";
  border: 1px solid #ccc;
  padding: 8px;
  width: 100px;
  float: left;
  margin-right: 40px;
}

div.addto {
  font-family: "Avenir";
  border: 1px solid #ccc;
  padding: 8px;
  padding-right: 20px; 
  padding-left: 20px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  margin-left: 5px;

}

div.addto:hover {
  font-family: "Avenir";
  background-color: #58b0c0;
  color: white;
  padding: 8px;
  padding-right: 20px; 
  padding-left: 20px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  margin-left: 5px;
}

.fa-angle-double-down {
  padding-left: 20px;
}

.fa-shopping-cart {
  padding-right: 10px;

}

.bold {
  font-weight: bold;
}

div.contact_text {
  padding-top: 184px;
}

.fa-facebook-square {
  padding-left: 10px;
}

